.modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.6);
}

.modal-body {
    position: fixed;
    background: white;
    width: 80%;
    height: auto;
    top: 50%;
    left: 50%;
    padding: 30px;
    transform: translate(-50%, -50%);
}

.display-block {
    display: block;
}

.display-none {
    display: none;
}

.show {
    display: inline-block;
}

.hide {
    display: none;
}

body {
    background-color: #f3f3f3;
}

.container {
    width: 500px;
    margin: 0 auto;
}

.pending {
    float: left;
}

.finish {
    float: right;
}
